<!--(at)model System.Data.Entity.DbSet-->

@{
    ViewBag.Title = "IndexDropDown";
}

<h2>IndexDropDown</h2>
<!--
<table>
    <tr>
        <th>Code</th>
        <th>FullName</th>
    </tr>

(at)if (Model == null)
{
    <tr>
        <td>
            NoValues
        </td>
        <td>
            NoValues
        </td>
    </tr>
}
else 
{
    foreach (DREAM.Models.DropDown dp in Model)
    {
        <tr>
            <td>
                (at)Html.DisplayFor(d => dp.Code)
            </td>
            <td>
                (at)Html.DisplayFor(d => dp.FullName)
            </td>
        </tr>
    }
}
</table>
-->