@model System.Data.Entity.DbSet

@{
    ViewBag.Title = "IndexDropDown";
}

<h2>IndexDropDown</h2>

<table>
    <tr>
        <th>Code</th>
        <th>FullName</th>
        <th></th>
        <th></th>
    </tr>

@if (Model == null)
{
    <tr>
        <td>
            NoValues
        </td>
        <td>
            NoValues
        </td>
        <td>
            NoValues
        </td>
        <td>
            NoValues
        </td>
    </tr>
}
else 
{
    foreach (DREAM.Models.DropDown dp in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(d => dp.Code)
            </td>
            <td>
                @Html.DisplayFor(d => dp.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { dropDownId=dp.ID, dropDownCode=dp.Code, dropDownFullName=dp.FullName, dropDownClass=dp.GetType().Name})
            </td>
            <td>
                @if (dp.enabled) {@Html.ActionLink("Disable", "Delete", new { dropDownId=dp.ID, dropDownCode=dp.Code, dropDownFullName=dp.FullName, dropDownClass=dp.GetType().Name})}
                else {@Html.ActionLink("Enable", "Delete", new { dropDownId=dp.ID, dropDownCode=dp.Code, dropDownFullName=dp.FullName, dropDownClass=dp.GetType().Name})}
            </td>
        </tr>
    }
}
</table>
<table>
    <tr>
        <th></th>
    </tr>
    <tr>
            <td>
                @Html.ActionLink("Add", "Add", new {dropDownClass=Model.ElementType.Name})
            </td>
    </tr>
</table>