@model DREAM.Models.RequestViewModel
@using DREAM.Models
@using DREAM.Helpers

@{
    ViewBag.Title = "Edit Request";
    Layout = "~/Views/Requests/_BaseView.cshtml";
}

@section PreForm {
    <div class="btn-group">
        @Html.ActionLink("Export", "Export", new { reqId = Model.RequestID }, new { @class = "btn" })
        @Html.ActionLink("Audit Request", "Index", "LogsAdmin",
            new { request = Model.RequestID }, new { @class = "btn" })
    </div>
    <hr />
}

@section SubmitButtonName {
    Submit Changes
}