@model DREAM.Models.KeywordViewModel
@using DREAM.Helpers

<li>
    @using (Html.BeginCollectionItem("Keywords"))
    {
        @Html.HiddenFor(m => m.Delete)
        <span>
            @Html.TextBoxFor(m => m.Keyword, new { @class = "keywordAutocomplete" })
            <a href="javascript:void(0);" class="deleteKeyword">Delete</a>
            @Html.ValidationMessageFor(m => m.Keyword)
        </span>
    }
</li>
