@model DREAM.Models.RequestViewModel

@{
    ViewBag.Title = "Edit Request";
}

<div class="row">
    <div class="span12">
        This request is currently locked by @ViewBag.LockedBy and cannot be edited.
    </div>
</div>
