@{
    ViewBag.Title = "About";
}

    <h2>What DREAM Does</h2>
    <p>
        The DREAM system was developed by Team One as their project for the UBC course CPSC 319 held in the January to April semester of 2013.
    </p>

    <h2>Who Created DREAM</h2>
    <p>
        Team One's group of developers was comprised of: Steven Baldwin, Jacqui Killow, Jonathan Neufeld, Ryan Taylor, Jessica Wong, and David Yuckin.
    </p>