@{
    ViewBag.Title = "About";
}


    <h2>What DREAM Does</h2>
    <p>
        The DREAM system was developed by Team One for BC Cancer Agency as their project for the UBC course CPSC 319 held in the January to April semester of 2013.
        DREAM is a replacement for the BC Cancer Agency’s present drug request information system; its primary function is to allow health care professionals to 
        store, retrieve and modify information about drug information requests they receive via phone or email.
    </p>

    <br>

    <h2>Who Created DREAM</h2>
    <p>
        Team One's group of developers was comprised of: Steven Baldwin, Jacqui Killow, Jonathan Neufeld, Ryan Taylor, Jessica Wong, and David Yuckin.

        <br>
        Team One would like to thank Dr. Kurt Eiselt, our course instructor, and Evgeny Roubinchtein, our TA, for all their hard work and time spent in helping this project succeed.
        We would also like to thank Neil de Haan for all his patience in answering our questions and all the help he has provided.
    </p>