@{
    ViewBag.Title = "Contact";
}

<h2>Contact Information</h2>

<p>
    <b>Main:</b>
    604-822-9880
</p>

<p>
    <b>Email:</b>
    <a href="mailto:jk.killow@gmail.com">DREAMSupport@example.com</a>
</p>

<p>
    <b>Address:</b>
    <br>
    Institute for Computing, Information and Cognitive Systems</br>
    289-2366 Main Mall</br>
    Vancouver, BC  V6T 1Z4 </br>
    Canada </br>
</p>