@{
    ViewBag.Title = "DREAM";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <br><h2>@ViewBag.Message</h2></br>
            </hgroup>
        </div>
    </section>
}

@if (User.IsInRole("Admin"))
{
    Server.TransferRequest("~/Home/Admin");
}
else if (User.IsInRole("DI Specialist") || User.IsInRole("Viewer") || User.IsInRole("Reporter"))
{
    Server.TransferRequest("~/Home/OtherRolesHome");
} 
else 
{
    <h3>Problems logging in? We suggest the following:</h3>
    <ol class="round">
        <li class="one">
            <h5>Double check your password</h5>
            Sometimes a password might just be entered incorrectly.  Try entering your password again.
        </li>

        <li class="two">
            <h5>Resetting your password</h5>
           Try resetting your password and logging in again.
        </li>

        <li class="three">
            <h5>Contact your local DREAM administrator</h5>
            Your local DREAM administrator has extra rights and priviledges in the DREAM system that may be of assistance.
        </li>
    </ol>
}