@{
    ViewBag.Title = "OtherRolesHome";
}

@model System.Data.Entity.DbSet

<h2>OtherRolesHome</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <input type="text" id ="searchTextBox" placeholder="Enter a keyword to search for">
        <button onclick="JavaScript: alert('LINK ME')"> FIX LINK </button>

        <table>
                <tr>
                    <th> ID </th>
                    <th> Type </th>
                    <th> Status </th>
                </tr>

             @if (Model == null)
             {
                <tr>
                    <td> No value </td>
                    <td> No value </td>
                    <td> No value </td>
                </tr>
             }
            else
            {
                foreach (DREAM.Models.Request request in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(d => request.ID)</td>
                        <td>@Html.DisplayFor(d => request.Type)</td>
                        <td>Requests need status</td>
                    </tr>
                 
                }
            }
            </table>
    </div>
</body>
</html>
