#menu
{
    padding-top: 29px;
}

#menu a
{
    font-size: 28px;
    padding: 8px 20px !important;
}

#logoutForm
{
    margin: 0 auto 0;
    max-width: 74px;
}

#menu .dropdown-menu a
{
    font-size: 16px;
}

#menu-search
{
    margin-top: 5px;
}

#menu-search .btn
{
    margin-top: 0;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #E80C17;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #E80C17;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #E80C17;
    font-weight: bold;
    font-size: 1.1em;
}

label
{
    font-weight: 600;
}

ul.ui-autocomplete
{
    list-style: none;
}